.main-gallery {

    h1 {
        font-size: 35px;
        color: $color-green;
        text-align: center;
        padding-top: 20px;
    }

    h5 {
        font-size: 15px;
        color: $color-secondary;
        font-weight: 500;
        text-align: center;
    }

    &-grid-wrapper {
        display: grid;
        // background-color: red;
        grid-template-columns: repeat(2, 200px);
        // grid-auto-rows: minmax(240px, auto);
        justify-content: center;
        gap: 10px;
        margin-top: 40px;
        position: relative;

        @include medium() {
            grid-template-columns: repeat(4, 240px);
        }

        &-item-1 {
            grid-column: span 2;
            grid-row: span 2;
            position: relative;

            &-desc {
                position: absolute;
                // background-color: red;
                background-image: linear-gradient(rgb(244, 252, 217, 0.001), #C5D8A4
                );
                bottom: 0px;
                width: auto;
                padding: 10px;

                h1 {
                    font-size: 35px;
                    color: #F1E1A6;
                    text-align: left;
                    padding-top: 20px;
                }

                h5 {
                    font-size: 15px;
                    color: white;
                    font-weight: 500;
                    text-align: left;
                }
            }
        }

        &-item-8 {
            grid-column: span 2;
            grid-row: span 2;
            // order: 6;

            @include medium() {
                // order: 8;
            }

            &-desc {
                position: absolute;
                // background-color: red;
                background-image: linear-gradient(rgb(244, 252, 217, 0.001), #C5D8A4
                );
                bottom: 0px;
                width: auto;
                padding: 10px;

                h1 {
                    font-size: 35px;
                    color: #F1E1A6;
                    text-align: left;
                    padding-top: 20px;
                }

                h5 {
                    font-size: 15px;
                    color: white;
                    font-weight: 500;
                    text-align: left;
                }
            }
        }


    }
}