.client {
    margin-top: 80px;
    &-visitor {
        display: grid;
        gap: 20px;
        justify-items: center;
        grid-template-columns: 150px 150px;

        @include medium() {
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        }

        h1 {
            font-size: 58px;
            font-weight: 700;
            font-family: 'Montserrat';
            color: $color-green;
        }

        h5 {
            font-size: 16px;
            font-weight: 700;
            font-family: 'Montserrat';
            color: $color-black;
        }
    }

    &-description {
        display: flex;
        align-items: center;
        margin-top: 150px;

        h1 {
            font-size: 40px;
            font-weight: 700;
            font-family: 'Montserrat';
            color: $color-black;
        }

        h5 {
            font-size: 14px;
            font-weight: 400;
            font-family: 'Montserrat';
            line-height: 20px;
            margin-top: 10px;
            color: $color-black;
        }

        h6 {
            font-size: 14px;
            font-weight: 700;
            font-family: 'Montserrat';
            line-height: 20px;
            margin-top: 30px;
            color: $color-green;
        }
    }

}

.red-line2 {
    width: 100px;
    height: 10px;
    margin-bottom: 20px;
    background-color: rgba(231, 64, 64, 1);
}