$color-primary: #fff;
$color-secondary: #2C2C2C;
$color-black: rgba(37, 43, 66, 1);
$color-green: rgba(150, 187, 124, 1);
$color-button: #E1651F;
$color-section: #F5F5F5;

$color-footer: #1C1C1C;
$color-placeholder-input: #B7B7B7;

$border-subscribe: 0.5px solid $color-placeholder-input;