.galery {
    background-color: rgba(255, 242, 243, 1);
    padding-top: 160px;
    padding-bottom: 100px;

    h5 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 14px;
        color: $color-green;
    }

    h1 {
        font-family: 'Montserrat';
        font-weight: 700;
        font-size: 40px;
        color: $color-black;
        margin-top: 10px;
    }

    h4 {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 14px;
        color: $color-black;
        margin-top: 10px;
        // width: 500px;
        line-height: 24px;
    }

    &-sale {
        position: relative;
        margin-top: 80px;
        
        &-content {
            display: grid;
            gap: 10px;
            justify-items: center;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

            &-img {
                position: relative;
                background: white;
                width: 100%;

                &-text {
                    padding: 20px;

                    h6 {
                        font-family: 'Montserrat';
                        font-weight: 700;
                        font-size: 16px;
                        color: $color-black;
                        margin-top: 10px;
                        // width: 500px;
                        line-height: 24px;
                    }

                    h4 {
                        font-family: 'Montserrat';
                        font-weight: 400;
                        font-size: 14px;
                        color: rgba(115, 115, 115, 1);
                        margin-top: 10px;
                        line-height: 24px;
                    }
                }
            }
        }

        &-more {
            background: $color-green;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            margin-top: 20px;
            font-size: 15px;
            font-weight: 700;
            color: white;
            cursor: pointer;
        }
    }

    &-button {
        border-style: solid;
        border-color: $color-green;
        align-items: center;
        display: inline-flex;
        border-radius: 10px;
        padding: 10px 20px;
        margin-top: 20px;
        margin: 20px;

        h3 {
            font-family: 'Montserrat';
            font-weight: 700;
            font-size: 14px;
            color: $color-green;
        }
    }
}